<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand mb-0 h1" routerLink="/">MyExpenses</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/expense">{{ 'HEADER.EXPENSES' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/label">{{ 'HEADER.LABELS' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/payment">{{ 'HEADER.PAYMENTS' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
