<app-loading *ngIf="isLoading"></app-loading>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
  {{ error | translate }}
</div>
<form class="search-form" *ngIf="showForm()">
  <div class="form-row justify-content-center">
    <div class="form-group col-md-6">
      <label for="inputState">{{ 'SEARCH.GROUP' | translate }}</label>
      <select id="inputState" class="form-control" #selectGroup (change)="onChangeGroup(selectGroup.value)">
        <option [value]="g.id" *ngFor="let g of groups" [selected]="groupId === g.id">{{ g.name }}</option>
      </select>
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <label for="inputState">{{ 'SEARCH.MONTH' | translate }}</label>
      <select id="inputState" class="form-control" #selectMonth (change)="onChangeMonth(selectMonth.value)">
        <option [value]="m.id" *ngFor="let m of months" [selected]="monthId === m.id">{{ m.name }}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">{{ 'SEARCH.YEAR' | translate }}</label>
      <select id="inputState" class="form-control" #selectYear (change)="onChangeYear(selectYear.value)">
        <option [value]="y" *ngFor="let y of years" [selected]="year === y">{{ y }}</option>
      </select>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="onSearch()">
        <fa-icon class="imgSearch" [icon]="imgSearch"></fa-icon>
        {{ 'SEARCH.SEARCH' | translate }}
      </button>
    </div>
  </div>
</form>
