<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
  {{ error }}
</div>

<app-loading *ngIf="isLoadingEditMode"></app-loading>
<form class="search-form label-add-edit" (ngSubmit)="onSubmit()" [formGroup]="labelForm" *ngIf="!isLoadingEditMode">
  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
      <label for="name">{{ 'LABEL.NAME' | translate }}</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        placeholder="{{ 'LABEL.ADD_EDIT.PLACE_HOLDER' | translate }}"
      />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <button
        type="button"
        type="submit"
        class="btn btn-primary"
        [disabled]="!labelForm.valid || isLoadingEditModeSubmit || isLoading"
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          *ngIf="isLoadingEditModeSubmit || isLoading"
        ></span>
        <fa-icon class="img" [icon]="editMode ? imgEdit : imgAdd"></fa-icon>
        {{ editMode ? ('EDIT' | translate) : ('ADD' | translate) }}
      </button>
      <button type="button" routerLink="/label" class="btn btn-secondary">
        <fa-icon class="img" [icon]="imgCancel"></fa-icon>
        {{ 'CANCEL' | translate }}
      </button>
    </div>
  </div>
</form>
