.label-add-edit {
  margin-top: 10px;
}

.btn {
  margin-right: 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.alert {
  margin-top: 20px;
  margin-bottom: 20px;
}
