<app-search></app-search>
<hr />
<app-loading *ngIf="isLoading"></app-loading>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
  {{ error | translate }}
</div>
<div class="row justify-content-center table-responsive-md" *ngIf="showForm()">
  <div class="col-md-12">
    <button class="btn btn-primary" routerLink="/label/add" [disabled]="isLoadingDelete">
      <fa-icon class="imgAdd" [icon]="imgAdd"></fa-icon>
      {{ 'ADD' | translate }}
    </button>
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col-md-10">{{ 'LABEL.NAME' | translate }}</th>
          <th scope="col">{{ 'LABEL.LIST.TABLE.CURRENT_VALUE' | translate }}</th>
          <th scope="col">{{ 'LABEL.LIST.TABLE.LAST_VALUE' | translate }}</th>
          <th scope="col">{{ 'LABEL.LIST.TABLE.AVERAGE_VALUE' | translate }}</th>
          <th scope="col-md-1"></th>
          <th scope="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let label of labels" [ngClass]="{ 'text-danger': label.currentValue >= label.averageValue }">
          <td>{{ label.name }}</td>
          <td>{{ label.currentValue | currency }}</td>
          <td>{{ label.lastValue | currency }}</td>
          <td>{{ label.averageValue | currency }}</td>
          <td style="text-align: center">
            <div style="cursor: pointer;" routerLink="/label/{{ label.id }}/edit">
              <fa-icon [icon]="imgEdit" [disabled]="isLoadingDelete"></fa-icon>
            </div>
          </td>
          <td style="text-align: center">
            <div
              style="cursor: pointer;"
              (click)="onDelete(label.id)"
              data-toggle="modal"
              data-target="#exampleModalLong"
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="isLoadingDelete === label.id"
              ></span>
              <fa-icon [icon]="imgDelete" [disabled]="isLoadingDelete"></fa-icon>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center table-responsive-md" *ngIf="labels.length < 1">
    <h1>{{ 'LABEL.LIST.EMPTY_LIST' | translate }}</h1>
  </div>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>
</div>
