<div class="modal-header">
  <h4 class="modal-title">{{ title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ body | translate }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
    {{ 'MODAL.CLOSE' | translate }}
  </button>
  <button type="button" class="btn {{ actionType }}" (click)="activeModal.close(actionName)">
    {{ actionName | translate }}
  </button>
</div>
